@require('../../../constants')

form
  width: 100%
  .formField
    width: calc(100% - 90px)
    input
      color: #333

  button
    margin: 0 0 5px 10px
    background-color: $primary
    color: white
    &:hover
      background-color: $primary-hover