@require('../../../constants')

form
  width: 100%
  .formField
    width: calc(100% - 55px)
    input
      color: #b0bec5

  button
    margin: 0 0 5px 10px
    background-color: $primary
    color: white
    &:hover
      background-color: $primary-hover