<div>
  <div class="col-md-12">
    <div *ngIf="isLoading; then spinnerTemplate else productTemplate"></div>

    <ng-template #spinnerTemplate>
      <div class="text-center">
        <ps-spinner></ps-spinner>
      </div>
    </ng-template>

    <ng-template #productTemplate>
      <div>
        <h3>{{ product.name }}</h3>
        <div>
          <div class="image-container">
            <div class="image"></div>
          </div>
          <div class="info">
            <h4>About this product: </h4>
            <span>{{ product.description }}</span>

            <hr/>

            <strong>Availability:</strong>
            <span>
              <i [ngClass]="(product.available) ? 'fa fa-check' : 'fa fa-times'"></i>
            </span>

            <br/>

            <strong>Price:</strong>
            <span>${{ product.price }}</span>

            <div class="btnContainer">
              <a class="btn btn-primary pull-right" [routerLink]="['/chat']">
                <span>Support </span>
                <i class="fa fa-comments"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </div>
</div>