@require('../../../constants')

.image-container
  float: left
  margin-right: 20px
  .image
    background-color: #dcdcdc
    width: 400px
    height: 600px

.btnContainer
  margin-top: 10px
  button
    background-color: $primary
    &:hover
      background-color: $primary-hover
