<div class="wrapper">
  <div class="col-md-12">
    <h4>Welcome!</h4>
  </div>
  <div class="col-md-4">
    <input
      #searchComponent
      class="form-control"
      placeholder="Search for a product"
    />
  </div>
  <div class="content col-md-12">
      <div *ngIf="isLoading && products.length === 0; then spinnerTemplate else listTemplate"></div>

      <ng-template #spinnerTemplate>
        <div class="text-center">
          <ps-spinner></ps-spinner>
        </div>
      </ng-template>

      <ng-template #listTemplate>
        <ps-products-list
          [products]="products">
        </ps-products-list>
      </ng-template>

      <div *ngIf="products && products.length === 0" class="col-md-12">
        <span>No entries.</span>
      </div>
  </div>
</div>