<div class="wrapper" #container>

  <div class="header">
    <mat-form-field *ngIf="showChannelSelector">
      <mat-select placeholder="Select channel" [value]="currentChannelId" (selectionChange)="changeChannel($event)">
        <mat-option *ngFor="let channel of channels" [value]="channel.id">
          {{ channel.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <button class="refreshBtn btn btn-xs btn-primary pull-right" (click)="refresh()">
      <i class="fa fa-refresh"></i>
    </button>
  </div>

  <div class="chatBodyContainer" [class.adminLayout]="showChannelSelector">
    <div *ngIf="isLoading; else chatTemplate">
        <ps-spinner></ps-spinner>
    </div>
    <ng-template #chatTemplate>
        <ps-chat-body
          [messages]="messages">
        </ps-chat-body>
    </ng-template>
  </div>

  <div class="chatInputContainer">
    <ps-chat-input
      [disabled]="isInputDisabled"
      (send)="sendMessage($event)">
    </ps-chat-input>
  </div>
</div>