@require('../../../constants')

.topbar
  height: 35px
  background-color: $primary
  ps-menu-icon, .link
    height: 34px
    display: inline-block
    cursor: pointer
    &:hover
      background-color: $primary-hover
  ps-menu-icon
    width: 34px
    padding: 4px
    vertical-align: middle
  .link
    padding: 6px 8px
  .link, ps-menu-icon
    border-radius: 5px
  .fa-sign-out
    padding: 9px
  span, i
    color: white