@require('../../../constants')

.topbar
  height: 35px
  background-color: $primary
  ps-menu-icon
    height: 34px
    width: 34px
    display: inline-block
    vertical-align: middle
    padding: 4px
    cursor: pointer
    &:hover
      background-color: $primary-hover
  span
    color: white