@require('../../../constants')

.title
  font-size: 16px
  padding: 0 15px
  background-color: $primary
  color: white
  border-top-left-radius: 7px
  border-top-right-radius: 7px
  padding: 10px 15px

.container
  background-color: #fafafa
  border: 1px solid #b1b1b1
  margin-top: 20px
  padding: 0 0 15px
  border-radius: 10px

form
  padding: 15px